<div class= container>
<h1><strong>Réservation de vos bateaux</strong></h1>
<div class=cards>
  <% @boats.each do |boat| %>
    <% if boat.user_id == current_user.id %>
      <% @bookings.each do |booking| %>
          <div class="card-product">
            <img src= <%= booking.boat.picture_url %> />
            <div class="card-product-infos">
              <h2>Réservation pour <%= link_to booking.boat.name, booking_path(booking) %> </h2>
              <ul>
              <li>Date d'arrivée <%= booking.begin_date %></li>
              <li>Date de fin <%= booking.end_date %></li>
              </ul>
            </div>
          </div>
        <% end %>
    <% end %>
<% end %>
</div>

<h1>Vos réservation(s)</h1>
<div class="cards">
    <% @bookings.each do |booking| %>
      <% if booking.user_id == current_user.id %>
          <div class="card-product">
            <img src= <%= booking.boat.picture_url %> />
            <div class="card-product-infos">
              <h2>Réservation pour <%= link_to booking.boat.name, booking_path(booking) %> </h2>
              <ul>
              <li>Date d'arrivée <%= booking.begin_date %></li>
              <li>Date de fin <%= booking.end_date %></li>
              </ul>
            </div>
          </div>
      <% end %>
    <% end %>
</div>
</div>
