<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://www.leboat.fr/sites/default/files/styles/lbt_imgstyle_header_lg/public/images/landing_pages/evening_calm_family_germany_leboat_hlg_0.jpg?itok=8u5RcOEP&timestamp=1526426298;">
  <div class="container">
    <h1><strong>Premier service de location de bateaux entre particuliers !</strong></h1>
    <p><i>Réservez une expérience dans le bateau de vos rêves.</i></p>
    <a class="btn btn-flat" href="/boats">Découvrir</a>
  </div>
</div>

<div class="row justify-content-center">
  <div class="col-sm-8 my-3">
    <%= form_with url: boats_path, method: :get, class: "d-flex" do %>
      <%= text_field_tag :query,
            params[:query],
            class: "form-control",
            placeholder: "Rechercher"
        %>
      <%= submit_tag "Rechercher", name: "", class: "btn btn-flat" %>
    <% end %>
  </div>
</div>

      <h2 class="home-subtitle"><strong>Bateaux en vedette !</strong></h2>
      <p class="home-paragraph">Une sélection des derniers bateaux !</p>

<div class="cards">
<% @boats.each do |boat| %>
  <%= link_to boat_path(boat) do %>
    <div class="card-trip">
      <img src= <%= boat.picture_url %> />
      <div class="card-trip-infos">
        <div>
          <h2><%= boat.name %></h2>
            <div class="cards-description">
          <p><%= boat.description %></p>
          </div>
        </div>
        <h2 class="card-trip-pricing"><%= boat.price %>€</h2>
      </div>
       <div>
           <button name="button" type="submit" class="btn btn-flat" href="/boats/:id">
             Réserver
           </button>
          </div>
    </div>
  <% end %>
<% end %>
</div>
</div>
