<div class= container>
<%# cards grid %>

<div class="row justify-content-center">
  <div class="col-sm-8 my-3">
    <%= form_with url: boats_path, method: :get, class: "d-flex" do %>
      <%= text_field_tag :query,
            params[:query],
            class: "form-control",
            placeholder: "Rechercher"
        %>
      <%= submit_tag "Rechercher", name: "", class: "btn btn-flat" %>
    <% end %>
  </div>
</div>

<div class="cards mt-5">
<% @boats.each do |boat| %>
    <%# card structure %>
  <%= link_to boat_path(boat) do %>
    <div class="card-trip">
      <img src= <%=boat.picture_url%> />
        <div class="card-trip-infos">
        <div>
          <h2><%= boat.name %></h2>
          <p><%= boat.description %></p>
        </div>
        <h2 class="card-trip-pricing"><%= boat.price %></h2>
      </div>
    </div>
  <% end %>
<% end %>
</div>
</div>
